<div class="banner-list" style="background-image: url('<%= cl_image_path @list.photo.key, crop: :fill %>')">
  <div class="list-header container">
    <h3><%= @list.name %></h3>
    <%= link_to new_list_bookmark_path(@list) do %>
      <i class="fa-solid fa-bookmark"></i>
    <% end %>
  </div>
</div>

<div class="container mt-4">
  <div class="bookmarks-list">
    <% @bookmarks.each do |bookmark| %>
      <div class="bookmark-item">
        <%= image_tag bookmark.movie.poster_url, width: '100' %>
        <div class="bookmark-item-info-top">
          <p><%= bookmark.movie.title %></p>
          <p><%= bookmark.movie.rating %></p>
        </div>
        <p><%= bookmark.movie.overview %></p>
        <div class="bookmark-item-info-bottom">
          <div class="bookmark-comment">
            <i class="fa-regular fa-comments me-2"></i>
            <%= bookmark.comment %>
          </div>
          <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>

<div class="container mt-4">
  <div class="reviews-header">
    <h3>List Reviews</h3>
    <%= link_to 'Add a Review!', new_list_review_path(@list), class: 'btn-add-review' %>
  </div>
  <div class="reviews-empty">
    <% if @reviews.empty? %>
      No reviews yet. <%= link_to 'Add one?', new_list_review_path(@list), class: 'btn-add-review' %>
    <% else %>
      <div class="reviews-list">
        <% @reviews.each do |review| %>
          <div class="list-item">
            <div class="review-header">
              <div ids="review-title"><%= review.title %></div>
              <div id="review-rating"><%= review.rating %>/5</div>
            </div>
            <%= review.content %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
